.square {
	height: 50px;
	border: 1px solid white;
	width: calc(25% - 2px);
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 1px;
  text-align: center;
  color: black;
  font-size: 18px;
}

.button {
	display:flex;
	flex-wrap:wrap;
	margin: 0 auto;
	width: 25%;
	height:25%;
	background: grey;
	
}

.operator {
	background: #dd7631;
	color: white;
}

.number {
	background: #b1b493;
}